body{
   
    transition: all 1.5s ease;
    background-image: url(imagenes/espacio2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
}
#toggle{
    display: none;
}
#label_toggle{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2em;
    color:darkmagenta;
    cursor: pointer;
}
.dark{
    background-color: #333;
    color:white;
    transition: all 1.5s ease;
    background-image: url(imagenes/espacio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
}
