body {
    width: 600px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
#miCanvas {
    border: groove 2px rgba(255, 0, 0, 0.815);
    background-image: url(imagenes/fondo.jpg);
    box-shadow: 10px 10px 10px #888888;
}

.botonReiniciar{
    color: #e8e8e8;
    background-color: #169300;
    border-radius: 10px;
    height: 30px;
    width: 25%;
    margin: 1% auto;
    font-size: 14px;
    font-weight: bold;
    display: none;
}